#Data Set

###The chosen data set revolves around the salaries of data scientists in various

In [81]:
filepath = '/content/ds_salaries.csv'

In [82]:
import pandas as pd
import numpy as np
import statistics

#Original Data Set

In [50]:
data = pd.read_csv(filepath)
data

,id,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [51]:
column_names = data.columns
print(column_names)

Index(['id', 'work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [52]:
data_types = data.dtypes
print(data_types)

id                     int64
work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [53]:
total_records = data.shape
rows = data.shape[0]
columns = data.shape[1]
print("Total: ", total_records)
print("Rows: ", rows)
print("Columns: ", columns)

Total:  (607, 12)
Rows:  607
Columns:  12

In [54]:
data.describe()

               id    work_year        salary  salary_in_usd  remote_ratio
count  607.000000   607.000000  6.070000e+02     607.000000     607.00000
mean   303.000000  2021.405272  3.240001e+05  112297.869852      70.92257
std    175.370085     0.692133  1.544357e+06   70957.259411      40.70913
min      0.000000  2020.000000  4.000000e+03    2859.000000       0.00000
25%    151.500000  2021.000000  7.000000e+04   62726.000000      50.00000
50%    303.000000  2022.000000  1.150000e+05  101570.000000     100.00000
75%    454.500000  2022.000000  1.650000e+05  150000.000000     100.00000
max    606.000000  2022.000000  3.040000e+07  600000.000000     100.00000

#Excluding columns that do not affect salary

In [83]:
df = pd.read_csv(filepath, index_col = 'id')
df.drop([ 'salary', 'salary_currency', 'employee_residence'], axis = 1, inplace = True)
df

,work_year,experience_level,employment_type,job_title,salary_in_usd,remote_ratio,company_location,company_size
id,,,,,,,,
0,2020,MI,FT,Data Scientist,79833,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,0,JP,S
2,2020,SE,FT,Big Data Engineer,109024,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,50,US,L
...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,100,US,M
603,2022,SE,FT,Data Engineer,126000,100,US,M
604,2022,SE,FT,Data Analyst,129000,0,US,M
605,2022,SE,FT,Data Analyst,150000,100,US,M
606,2022,MI,FT,AI Scientist,200000,100,US,L

#Number of employees per experience level
#### EN = Entry Level
#### MI = Mid Level
#### SE = Senior Level
#### EX = Executive Level

In [89]:
df = pd.read_csv(filepath, index_col = 'experience_level')
df.drop([ 'salary', 'salary_currency', 'employee_residence'], axis = 1, inplace = True)
df.sort_values("experience_level")

,id,work_year,employment_type,job_title,salary_in_usd,remote_ratio,company_location,company_size
experience_level,,,,,,,,
EN,113,2021,PT,AI Scientist,12000,100,US,M
EN,139,2021,FT,Data Scientist,80000,100,US,M
EN,134,2021,FT,Data Scientist,100000,0,US,S
EN,131,2021,FT,Data Scientist,49646,50,FR,M
EN,130,2021,FT,Machine Learning Developer,100000,50,IQ,S
...,...,...,...,...,...,...,...,...
SE,364,2022,FT,Data Engineer,160000,0,US,L
SE,363,2022,FT,Data Analyst,61300,100,CA,M
SE,362,2022,FT,Data Analyst,130000,100,CA,M
SE,371,2022,FT,Machine Learning Engineer,189650,0,US,M
SE,303,2022,FT,Data Scientist,123000,100,US,M

#Employees based on Job Title
There are 50 unique job titles

In [69]:
df = pd.read_csv(filepath, index_col = 'job_title')
df.drop([ 'salary', 'salary_currency', 'employee_residence'], axis = 1, inplace = True)
df.sort_values("job_title")

,id,work_year,experience_level,employment_type,salary_in_usd,remote_ratio,company_location,company_size
job_title,,,,,,,,
3D Computer Vision Researcher,77,2021,MI,PT,5409,50,IN,M
AI Scientist,606,2022,MI,FT,200000,100,US,L
AI Scientist,96,2021,EN,PT,12000,100,US,S
AI Scientist,113,2021,EN,PT,12000,100,US,M
AI Scientist,244,2021,EN,FT,18053,100,AS,S
...,...,...,...,...,...,...,...,...
Research Scientist,508,2022,EN,FT,120000,100,US,L
Research Scientist,507,2022,MI,FT,64849,0,AT,L
Research Scientist,26,2020,EN,FT,42000,50,NL,L
Research Scientist,236,2021,MI,FT,63810,100,CA,M
Staff Data Scientist,283,2021,SE,CT,105000,100,US,M

#Employees based on employment type

In [96]:
employment_type = pd.DataFrame(df)
employment_type = df[df['employment_type'] == 'CT'].copy()
employment_type # This results into 5 employees with CT

,id,work_year,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
experience_level,,,,,,,,,,,
EN,28,2020,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
MI,78,2021,CT,ML Engineer,270000,USD,270000,US,100,US,L
EX,225,2021,CT,Principal Data Scientist,416000,USD,416000,US,100,US,S
SE,283,2021,CT,Staff Data Scientist,105000,USD,105000,US,100,US,M
EN,489,2022,CT,Applied Machine Learning Scientist,29000,EUR,31875,TN,100,CZ,M

In [93]:
employment_type = df[df['employment_type'] == 'PT'].copy()
employment_type # This results into 10 employees with Part Time Employment Type

,id,work_year,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
experience_level,,,,,,,,,,,
EN,45,2020,PT,ML Engineer,14000,EUR,15966,DE,100,DE,S
EN,62,2020,PT,Data Scientist,19000,EUR,21669,IT,50,IT,S
MI,77,2021,PT,3D Computer Vision Researcher,400000,INR,5409,IN,50,IN,M
EN,96,2021,PT,AI Scientist,12000,USD,12000,BR,100,US,S
EN,113,2021,PT,AI Scientist,12000,USD,12000,PK,100,US,M
EN,124,2021,PT,Data Analyst,8760,EUR,10354,ES,50,ES,M
EN,216,2021,PT,Computer Vision Engineer,180000,DKK,28609,DK,50,DK,S
MI,282,2021,PT,Data Engineer,59000,EUR,69741,NL,100,NL,L
MI,462,2022,PT,Data Engineer,50000,EUR,54957,DE,50,DE,L
EN,487,2022,PT,Data Scientist,100000,USD,100000,DZ,50,DZ,M

In [95]:
employment_type = df[df['employment_type'] == 'FT'].copy()
employment_type # This results into 591 Full-Time employees

,id,work_year,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
experience_level,,,,,,,,,,,
MI,0,2020,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
SE,1,2020,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
SE,2,2020,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
MI,3,2020,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
SE,4,2020,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
SE,602,2022,FT,Data Engineer,154000,USD,154000,US,100,US,M
SE,603,2022,FT,Data Engineer,126000,USD,126000,US,100,US,M
SE,604,2022,FT,Data Analyst,129000,USD,129000,US,0,US,M
SE,605,2022,FT,Data Analyst,150000,USD,150000,US,100,US,M
MI,606,2022,FT,AI Scientist,200000,USD,200000,IN,100,US,L